body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

#ctn {
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 150px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

#TryRep {
    margin-right: auto;
    margin-left: auto;
    margin-top: -100px;
    background-color: #ffffff;
    width: 10%;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

form {

    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 16px;
}

button {
    color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #8370db;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;

}

button:hover {
    background-color: #6500b3;
}
.alert_b{
    color: #ffffff!important;

    background-color: #11ff50!important;
}

.alert_b{
    color: #ffffff!important;

    background-color: #6e7cff!important;
}
.alert_h{
    color: #ffffff!important;

    background-color: #730000!important;
}